Repository greenpeace/planet4-plugin-gutenberg-blocks, pull requests merged in 2024-11, with the labels that each got.

#1262 PLANET-7523 Remove Social Media block
  assets/src/blocks/SocialMedia/SocialMediaBlock.js
  assets/src/blocks/SocialMedia/SocialMediaConstants.js
  assets/src/blocks/SocialMedia/SocialMediaEditorScript.js
  assets/src/blocks/SocialMedia/SocialMediaEmbed.js
  assets/src/blocks/SocialMedia/SocialMediaFrontend.js
  assets/src/blocks/SocialMedia/deprecated/socialMediaV1.js
  assets/src/editorIndex.js
  assets/src/styles/blocks/SocialMedia/SocialMediaEditorStyle.scss
  assets/src/styles/blocks/SocialMedia/SocialMediaStyle.scss
  classes/blocks/class-socialmedia.php
  classes/class-loader.php
  classes/rest/class-rest-api.php
  templates/blocks/social-media.twig
  webpack.config.js
Labels: Review, [Test Env] janus

#1260 PLANET-7530: Upgrade to node 18
  .circleci/config.yml
  .npmrc
  package-lock.json
  package.json
Labels: Review, [Test Env] telesto

#1261 PLANET-7445: Remove the "Split 2 Columns" block
  assets/src/blocks/SplitTwoColumns/SplitTwoColumnsBlock.js
  assets/src/blocks/SplitTwoColumns/SplitTwoColumnsEditor.js
  assets/src/blocks/SplitTwoColumns/SplitTwoColumnsEditorScript.js
  assets/src/blocks/SplitTwoColumns/SplitTwoColumnsFrontend.js
  assets/src/blocks/SplitTwoColumns/SplitTwoColumnsInPlaceEdit.js
  assets/src/blocks/SplitTwoColumns/SplitTwoColumnsScript.js
  assets/src/blocks/SplitTwoColumns/SplitTwoColumnsSettings.js
  assets/src/blocks/SplitTwoColumns/deprecated/splitTwoColumnsV1.js
  assets/src/blocks/SplitTwoColumns/imageSizes.js
  assets/src/styles/blocks/SplitTwoColumns/SplitTwoColumnsEditorStyle.scss
  assets/src/styles/blocks/SplitTwoColumns/SplitTwoColumnsStyle.scss
  classes/blocks/class-splittwocolumns.php
  classes/class-loader.php
  classes/rest/class-rest-api.php
  public/images/plastic/split-column-desktop.svg
  public/images/plastic/split-column-mobile.svg
  tests/e2e/split-two-columns.spec.js
  webpack.config.js
Labels: DO NOT MERGE, Review, [Test Env] titan

#1263 Remove e2e tests
  .circleci/config.yml
  phpcs.xml
  tests/e2e/blocks-report-api.spec.js
  tests/e2e/carousel-header.spec.js
  tests/e2e/columns-icons.spec.js
  tests/e2e/columns-images.spec.js
  tests/e2e/columns-no-image.spec.js
  tests/e2e/columns-tasks.spec.js
  tests/e2e/editor-selector.spec.js
  tests/e2e/enform.spec.js
  tests/e2e/env/.env.ci
  tests/e2e/env/.env.default
  tests/e2e/fixtures/enform/enformData.js
  tests/e2e/fixtures/enform/ensapi_sample_fields_response.json
  tests/e2e/fixtures/enform/ensapi_sample_pages_response.json
  tests/e2e/fixtures/enform/ensapi_sample_question_220954_response.json
  tests/e2e/fixtures/enform/ensapi_sample_question_236734_response.json
  tests/e2e/fixtures/enform/ensapi_sample_question_3877_response.json
  tests/e2e/fixtures/enform/ensapi_sample_questions_response.json
  tests/e2e/page-layouts-modal.spec.js
  tests/e2e/spreadsheet.spec.js
  tests/e2e/tickets/PLANET-7064/PLANET-7064.test.js
  tests/e2e/tools/lib/columns.js
  tests/e2e/tools/lib/post.js
  tests/e2e/tools/lib/test-utils.js
  tests/e2e/tools/lib/users.js
  tests/e2e/tools/setup/auth.setup.js
Labels: Review, [Test Env] leda
